<section class="section has-text-centered">
  <div class="container">
    <a class="button is-primary  is-large is-fullwidth" (click)="iromeqm()"
      ><span class="icon"> <i class="fas fa-apple-alt"></i> </span>
      <span>O Mestre é quem manda</span></a
    ><app-omeqm *ngIf="omeqm"></app-omeqm>
    <a class="button is-primary  is-large is-fullwidth" (click)="irbtd()"
      ><span class="icon"> <i class="fas fa-sun"></i> </span>
      <span>Bíblia todo dia</span></a
    >

    <app-btd *ngIf="btd"></app-btd>
    <a
      class="button is-focused is-large is-fullwidth"
      href="https://www.dropbox.com/sh/1sdozec4i64l5mx/AACJH8pMHsQNpww6v0qbuHV9a?dl=0&fbclid=IwAR0Xk76KQIRY05RNJPresdFJyVxfcS8s06TVp41Ekwcyp9ScJVmf1uG0tts"
      ><span class="icon"> <i class="fas fa-download"></i> </span>
      <span>Papéis de Parede</span></a
    >
    <a
      class="button is-focused is-large is-fullwidth"
      href="https://www.dropbox.com/sh/d77scix2esi8yrv/AAAbKTjrOfQ5MWueh8gemQDSa?dl=0&fbclid=IwAR3DdnVPK2xDcktCJTQ40wx6y74IrJejlKClHOoSLqIiV0TF3W55exh5-EI"
      ><span class="icon"> <i class="fas fa-download"></i> </span>
      <span>Quadros decorativos</span></a
    >
    <a
      class="button is-primary is-outlined is-large is-fullwidth"
      href="https://www.facebook.com/2oaksapps"
      ><span class="icon"> <i class="fab fa-facebook"></i> </span>
      <span>Facebook</span></a
    >
    <a
      class="button is-primary is-outlined is-large is-fullwidth"
      href="https://www.instagram.com/twooaksapps/"
      ><span class="icon"> <i class="fab fa-instagram"></i> </span>
      <span>Instagram</span></a
    >
    <a
      class="button is-primary is-outlined is-large is-fullwidth"
      href="https://www.youtube.com/channel/UCcEg6YJ1tXs_nmYRR3xzgsA?view_as=subscriber"
      ><span class="icon"> <i class="fab fa-youtube"></i> </span>
      <span>Youtube</span></a
    >
    <a
      class="button is-primary is-outlined is-large is-fullwidth"
      href="https://plus.google.com/u/2/112282904446067744862"
      ><span class="icon"> <i class="fab fa-google-plus-g"></i> </span>
      <span>Google Plus</span></a
    >
    <a
      class="button is-primary is-outlined is-large is-fullwidth"
      href="https://twitter.com/TwoOaksApps"
      ><span class="icon"> <i class="fab fa-twitter"></i> </span>
      <span>Twitter</span></a
    >
  </div>
</section>
